{{> head}}

{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Texto de prueba</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio dolorem fugiat esse tempore quibusdam nihil corporis fugit aspernatur placeat! Ratione reprehenderit dicta expedita quidem architecto tempore corrupti nihil quia eveniet.</p>
    </div>

    <div class="col-4">
        <img src="assets/img/a.png" class="img-thumbnail">
    </div>
</div>

{{> footer }} 
